Repository robotology/gym-ignition-models, pull requests merged in 2020-08, with the labels that each got.

#24 Fix Panda visualization issues
  gym_ignition_models/panda/meshes/visual/finger.dae
  gym_ignition_models/panda/meshes/visual/hand.dae
  gym_ignition_models/panda/meshes/visual/link0.dae
  gym_ignition_models/panda/meshes/visual/link1.dae
  gym_ignition_models/panda/meshes/visual/link2.dae
  gym_ignition_models/panda/meshes/visual/link3.dae
  gym_ignition_models/panda/meshes/visual/link4.dae
  gym_ignition_models/panda/meshes/visual/link5.dae
  gym_ignition_models/panda/meshes/visual/link6.dae
  gym_ignition_models/panda/meshes/visual/link7.dae
Labels: component::models, model::panda

#20 Improve primitive shapes in iCubGazeboSimpleCollisionsV2_5
  gym_ignition_models/iCubGazeboSimpleCollisionsV2_5/icub_simple_collisions.urdf
Labels: component::models, model::icub_gazebo_simple_collisions_v2_5

#26 Automatically set environment variables when used from Python
  README.md
  gym_ignition_models/__init__.py
Labels: component::python
